*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(https://cdn.wallpapersafari.com/32/3/S1jatp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}